<div class="container">
  <div class="panel-group">
    <% @todos.each do |todo| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="badge"><%= todo.priority %></span>
          <div class="pull-right">
            <%= todo.datetime_create.localtime %>
            <%= link_to 'Edit', edit_todo_path(todo) %>
            <%= link_to 'Destroy', todo_path(todo), method: :delete, data:{ confirm: "Are you sure?" } %>
          </div>
        </div>
        <div class="panel-body">
          <input type="checkbox" name="fancy-checkbox-default" autocomplete="off" />
          <%= todo.description %>
        </div>
      </div>
   <% end %>
  </div>
</div>

<%= link_to 'New Todo', new_todo_path %>